body { font-family: Arial;}

.axis, .axis path {
  fill: none;
  stroke: #ACB849;
}
text {
  stroke: none;
  fill: #666666;
}

div.tooltip {
  position: absolute;
  background-color:#424242;
  color: white;
  text-align: center;
  padding: 8px;
  margin-top: -20px;
  pointer-events: none;
}

.dot{
  stroke:black;
  stroke-width:0.5;
  cursor:pointer;
}

#map {
  width:800px;
  height:600px;
}

.leaflet-tooltip .barTooltip {
  background: #267fca;
}

.bootstrap-select  li.selected a{
    background: #3086E4;
    color: white;
}
.bootstrap-select  li.selected a:hover{
    background: #256CB8;
}

.box {
  border: 1px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}

#infos-bieres{
  position: absolute;
  background-color:#424242;
  color: white;
  text-align: center;
  pointer-events: none;

}
