body {
  margin-left: 10px;
}


p.brasselected{
  font-family: Helvetica;
  color: rgb(204,102,0);
  font-size: 20pt;
  margin-bottom: 0;

}

p.binchattributes{
  font-family: Helvetica;
  font-size: 13pt;
  margin-bottom: 0;
  color: grey;
}

div.distances{
  margin: 0;
  background-color: rgb(0,0,0);
  border-bottom-color: rgb(229,229,229);
  border-bottom-width: 1px;
}
p.binchselected{
  font-size: 32pt;
  margin-bottom: 0;
}
.axis, .axis path {
  fill: none;
  stroke: #ACB849;
}
text {
  stroke: none;
  fill: #666666;
}

div.tooltip {
  position: absolute;
  background-color:#424242;
  color: white;
  text-align: center;
  padding: 8px;
  margin-top: -20px;
  pointer-events: none;
}

.dot{
  stroke:black;
  stroke-width:0.5;
  cursor:pointer;
}

#map {
  width:800px;
  height:380px;
}

.barTooltip {
  background: #267fca;
}

.bootstrap-select  li.selected a{
    background: #3086E4;
    color: white;
}
.bootstrap-select  li.selected a:hover{
    background: #256CB8;
}

.box {
  border: 1px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}

#infos-bieres{
  position: absolute;
  background-color:#424242;
  color: white;
  text-align: center;
  pointer-events: none;

}

h3.Biereproches{
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 19.2px;
  font-weight: 600;
  margin-bottom: 0px;
    font-family: Helvetica;

}
